/* please declare class name or id with name first. ex: duc-body,duc-img,etc. */
/* parsa */

/* end parsa */

/* vu */
.homePage{
    height: 53px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15p;
    padding-right: 15px;
}
#homeText{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    line-height: 1.3;
    font-size: 19px;
    flex-shrink: 1;
    flex-grow: 1;
    flex: 7;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}
#input{
    display: flex;
}
#inputText{
    width: 100%;
}
#text{
    width: 100%;
}
#btnInput{
    margin-left: 10px;
    opacity: 0.5;
    background-color: rgb(29, 161, 242);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;

}
#tweetbtn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
/* end vu  */

/* cuong  */

/* end cuong */

/* duc  */

/* end duc */